html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  line-height: 1.6;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  background: white;
  flex-direction: column;
  position: relative;
}

.main-content {
  width: 65vw;
  min-height: 75vh;
  background-color: none;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);*/
  position: relative;
}

.page-content {
  padding: 0 40px;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.front-blurb {
  width: 50%;
  margin: 0 auto;
}

nav {
  padding: 15px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 7.5px 0px;
  margin-bottom: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  padding: 5px 0;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
  color: #007bff;
  transform: translateY(-2px);
}

nav a:focus {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}

@media (max-width: 1300px) {
  .main-content {
    width: 100vw;
    height: 85vh;
    padding: 15px;
  }

  .page-content {
    padding: 0 15px;
  }
  
  .front-blurb {
	width: 85%;
	margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .main-content {
    width: 100vw;
    height: 85vh;
    padding: 15px;
  }

  .page-content {
    padding: 0 15px;
  }
  
    .front-blurb {
	width: 100%;
	margin: 0 auto;
  }
}

.rounded-image {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  object-fit: cover;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
